/* style of body (remove margins) */
body {
    margin: 0;
}

/* style of all divs (just to see layout easily) */
div {    
    box-sizing: border-box;     
    border: solid red 0px;
    position: absolute;
}

.text-box{
    background-color: black;
    color: white;
}

/* style of stage buttons */
.stage-btn {
    background-color: #222 ;
    float: left;
    border: none;
    font-size: 15px;
    height: 100%
}

/* stage buttons during hover */
.stage-btn:hover {
    background-color: #333;
}

/* stage button when active */
.stage-btn.active {
    background-color: white
}

/* style of back forward button */
.back-fwd-btn {
    background-color:inherit;
    border: none;
    position: "absolute";
    font-size: 40;
    color: white;
    right: 100px
}

.back-fwd-btn:disabled{
    color: #444;
}



.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: gray;
    color: black;
    text-align: center;
    border-radius: 0px;
    padding: 5px 0;
    position: absolute;  
    z-index: 1;
    font-size: 10px;
}

.tooltip:hover .tooltiptext {
    transition-delay: 0.3s;
    visibility: visible;
}
