/* style of body (remove margins) */
body {
    margin: 0;
}

/* style of all divs (just to see layout easily) */
div {    
    box-sizing: border-box;     
    border: solid red 0px;
    position: absolute;
}

.graph{
    background-color: black;
    color: white;
    text-align: right;
    overflow: hidden;
    position: absolute;
}

.text-box{
    background-color: black;
    color: white;
    font-size: 13px;
}

/* center mathjax expressions */
.MJXc-display{
    display:table;
    margin:0 auto;
    
}
p{
    padding: 10px;
}


/* style of stage buttons */
.stage-btn {
    background-color: #222 ;
    float: left;
    border: none;
    font-size: 15px;
    height: 100%;
    color: white;
    outline: none;
}

/* stage buttons during hover */
.stage-btn:hover {
    background-color: #333;
}

/* stage button when active */
.stage-btn.active {
    background-color: white;
    color: black;
}

/* style of back forward button */
.back-fwd-btn {
    background-color:inherit;
    border: none;
    position: "absolute";
    font-size: 40;
    color: white;
    right: 100px;
    z-index: 2;
    outline: none;
    
}

.back-fwd-btn:disabled{
    color: #444;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: gray;
    color: black;
    text-align: center;
    border-radius: 0px;
    padding: 5px 0;
    position: absolute;  
    font-size: 10px;
}

.tooltip:hover .tooltiptext {
    transition-delay: 0.3s;
    visibility: visible;
}

 
.slider {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 20px;  
    background: lightgray;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    background: var(--c)
}

.slider::-moz-range-thumb {
    /* for Firefox */
    /* should be same as stuff in webkit-slider-thumb */
}


/* creates border between text and graphic */
.border-div{
    right: 0%;
    height: 80%;
    bottom: 10%;
    border-right: solid gray 1px;

}
