/* style of body (remove margins) */
body{
    margin: 0;
}

/* style of all divs (just to see layout easily) */
div{   
    box-sizing: border-box;     
    border: solid red 0px;
    position: absolute;
}

/* style of stage buttons */
.stage-btn {
    background-color: #ccc ;
    float: left;
    border: none;
    font-size: 20px;
    height: 100%
}

/* stage buttons during hover */
.stage-btn:hover {
    background-color: #ddd;
}

/* stage button when active */
.stage-btn.active {
    background-color: rgb(235, 35, 105);
}

/* style of back forward button */
.back-fwd-btn {
    background-color: lightblue
}

/* style of buttons to go to topics */
.topic-link {
    font: bold 10px Arial;
    text-decoration: none;
    background-color: blue;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    margin-right: 20px;
    margin-left: 20px

}

.topic-link:hover{
    background-color: lightblue;
}

