/* #region blocks -- general */


.block{
    border-style: solid;
    border-width: 2.5px;
    border-color: black;
    background-color: white;
    
    margin-bottom: 0px;
    padding: 10px;
    
    width: fit-content; 
    border-radius: 5px;
    position: relative;
    pointer-events: auto;
    zoom: 0;
}

.block-name{
    margin-bottom: 10px;
    font-size: large;
    white-space: nowrap;
    display: flex;

}

.block-name-txt{
    margin-left:5px;
    margin-right:50px;
    font-size: inherit;
    width: 100px;
    font-family: "Times New Roman", serif;
}


#solve-txt{
    margin-left:10px;
    font-size: 15px;
    font-family: "Times New Roman", serif;
}



.add-block-btn{
    position: relative;
}

.remove-block-btn{
    position: relative;
}

/* #endregion */

/* #region lines -- general */

.line {
    display: flex;
    align-items: center;
}

.line-input {
    width: 200px;
    margin: 2px;
}


.input-error {
    border-width: 2px;
    border-color:rgb(200,0,0);
    border-radius: 3px;
}

.table-error {
    outline: 2px solid rgb(200,0,0);
    border-radius: 3px;
}

.field-sel{
    /* for searching for variables, could be a line or a sub table substitution */
    border-color:blue;
    border-width: 3px;
}

.line-output {
    display: none;
    padding-left: 5px;
}

.error-msg {
    padding-left: 5px;
    color:rgb(200,0,0);
    font-family: 'Arial', serif;
    font-weight:550;

}

.display-eqn-cell{
    /* cell which wraps around MQ field*/
    padding-right:40px;
}

.add-remove-btn{
    font-size: inherit;
    border:none;
    background-color:transparent;
    color:darkgray;
    text-align: center;
    display: inline-block;
}

.add-remove-btn:hover{
    transition: color 0.3s ease-in-out;

    color:black;
    cursor: pointer;
}

/* #endregion */

/* #region collapse arrows */

.collapse-arrow {
    position: relative;
    top:5px;
    right:5px;
    border: solid gray;
    border-width: 0 3px 3px 0;
    padding: 3px;
    margin: 10px;
}

.collapse-arrow:hover{
    transition: color 0.3s ease-in-out;
    border-color:black;
    cursor: pointer;
}

.collapse-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.collapse-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.collapse-up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.collapse-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* #endregion */

/* #region substitution table */

.sub-table{
    border:1px solid;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.sub-table-btn{
    margin:auto;
    font-size: 15px;
    padding: 3px;
    border:none;
    background-color: white;
    color:darkgray;
    text-align: center;
    
    display: inline-block;
}

.sub-table-btn:hover{
    color:black;
    cursor: pointer;
}

.solve-spinner{
    border:none;
    background-color: white;
    color: gray;
    font-size:18px;
    margin: 0px;
    padding:0px;
}

.solve-spinner:hover {
    cursor: pointer;
    color:black;
}

.spinner-step {
    height: 10px;
    font-size: 10px;
    width:16px;
    border-width:0px;
    top:50%
}


.spinner-step:focus{
    outline:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

/* #endregion */

/* #region information box for each block */
/*
info boxescurrently not showing up
might replace with menu option
*/

.info-box {
    background-color: white;
    position: absolute;
    right: -50px;
    top: 20px;
    border-radius: 5px;
    padding: 10px;
    display: none;
}

.empty-info-btn {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

.info-btn {
    height: 20px;
    line-height: 5px;
    margin-left: 10px;
    margin-right: 5px;

    -moz-border-radius: 10px;
    border-radius: 10px;

    background-color: white;
    border-color: black;
    border-style: solid;
    text-align: center;
    font-size: .75em;
}

.info-btn:hover {
    background-color: lightgrey;  
    cursor: pointer;
}
  


