/* #region blocks -- general */


.block{
    border-style: solid;
    border-width: 2.5px;
    border-color: black;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    width: fit-content; 
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.block-name{
    margin-bottom: 10px;
    font-size: large;
    white-space: nowrap;
    display: flex;

}

.block-name-txt{
    margin-left:20px;
    margin-right:50px;
    font-size: inherit;
    width: 100px;
    font-family: "Times New Roman", serif;
}

.add-block-btn{
    position: relative;
}

.remove-block-btn{
    position: relative;
}

/* #endregion */

/* #region lines -- general */

.line {
    display: flex;
    align-items: center;
}

.line-input {
    width: 200px;
    margin: 2px;
}

.input-error {
    border-color:red;
}

.field-sel{
    /* for searching for variables, could be a line or a sub table substitution */
    border-color:blue;
    border-width: 3px;
}

.line-output {
    display: none;
    padding-left: 5px;
}

.error-msg {
    padding-left: 5px;
}

.display-eqn-cell{
    /* cell which wraps around MQ field*/
    padding-right:40px;
}

.add-remove-btn{
    font-size: inherit;
    border:none;
    background-color: white;
    color:darkgray;
    text-align: center;
    display: inline-block;
}

.add-remove-btn:hover{
    transition: color 0.3s ease-in-out;

    color:black;
    cursor: pointer;
}

/* #endregion */

/* #region collapse arrows */

.collapse-arrow {
    position: relative;
    top:5px;
    right:5px;
    border: solid gray;
    border-width: 0 3px 3px 0;
    padding: 3px;
    margin: 10px;
}

.collapse-arrow:hover{
    transition: color 0.3s ease-in-out;
    border-color:black;
    cursor: pointer;
}

.collapse-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.collapse-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.collapse-up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.collapse-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* #endregion */

/* #region substitution table */

.sub-table{
    border:1px solid;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.sub-table-btn{
    margin:auto;
    font-size: 10px;
    padding: 3px;
    border:none;
    background-color: white;
    color:darkgray;
    text-align: center;
    
    display: inline-block;
}

.sub-table-btn:hover{
    color:black;
    cursor: pointer;
}

/* #endregion */

/* #region information box for each block */
/*
info boxescurrently not showing up
might replace with menu option
*/

.info-box {
    background-color: white;
    position: absolute;
    right: -50px;
    top: 20px;
    border-radius: 5px;
    padding: 10px;
    display: none;
}

.empty-info-btn {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

.info-btn {
    height: 20px;
    line-height: 5px;
    margin-left: 10px;
    margin-right: 5px;

    -moz-border-radius: 10px;
    border-radius: 10px;

    background-color: white;
    border-color: black;
    border-style: solid;
    text-align: center;
    font-size: .75em;
}

.info-btn:hover {
    background-color: lightgrey;  
    cursor: pointer;
}
  
/* #endregion */

/* #region tooltips */

.run-arrow:hover .tooltip {display: block;--tooltip-text: "Run to here";}
.remove-block-btn:hover .tooltip {display: block;--tooltip-text:"Delete block";}
.remove-line-btn:hover .tooltip {display: block;--tooltip-text:"Delete line";}
.add-block-btn:hover .tooltip {display: block;--tooltip-text:"Create new block";}
.add-line-btn:hover .tooltip {display: block;--tooltip-text:"Create new line";}
.table-add:hover .tooltip {display: block;--tooltip-text:"Create new row";}
.table-remove:hover .tooltip {display: block;--tooltip-text:"Delete row";}
.table-clear:hover .tooltip {display: block;--tooltip-text:"Clear row";}
.table-copy:hover .tooltip {display: block;--tooltip-text:"Duplicate row";}

.tooltip {
    display: none;
    background: #C8C8C8;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px;
    width: fit-content;
    position: absolute;
    z-index: 2;
    --tooltip-text: inherit;
}
  
.tooltip::after{
    content: var(--tooltip-text);
}

/* #endregion */

/* #region run indicators */
/*
will likely only include the check and x
single button for running entire sheet instead

*/


.run-arrow {
    border-top: calc(0.7*var(--load-sym-size)) solid transparent;
    border-left: var(--load-sym-size) solid blue;
    border-bottom: calc(0.7*var(--load-sym-size)) solid transparent;
    margin-left: 5px;
    padding-right: 5px;
    margin-bottom: -5px;
}

.run-arrow:hover{cursor: pointer;}

.spinner {
    bottom: 0;
    width: var(--load-sym-size);
    height: var(--load-sym-size);
    --color: blue;
    content: " ";
    display: block;
    border-radius: 50%;
    border:  calc(0.3*var(--load-sym-size)) solid #fff;
    border-color: var(--color) transparent var(--color) transparent;
    /* animation: spinner 1.2s linear infinite; */
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.check {
    bottom: 0;
    --borderColor: #78b13f;
    --borderWidth: calc(0.25*var(--load-sym-size));
    display: inline-block;
    transform: rotate(45deg);
    height: var(--load-sym-size);
    width: calc(var(--load-sym-size)*0.5);
    margin-left: calc(var(--load-sym-size)*0.5);

    border-bottom: var(--borderWidth) solid var(--borderColor);
    border-right: var(--borderWidth) solid var(--borderColor);
}

.cross::after {
    bottom: 0;
    font-size: var(--load-sym-size);
    content: "\274c"; /* use the hex value here... */
    color: red;
    text-align: center;
}


/* #endregion */