
#canvas { pointer-events:none; }
:root{
    --load-sym-size:10px;
}

body{
    background-color: black;
    margin:0;
}


#calc{
    position: absolute;
    top:5%;
    width:100%;
    height:95%;
    z-index: 1;
    background-color: inherit;
}

#vis{
    position:absolute;
    left:20%; /* will probably change this, vis will take over the entire area below the top bar */
    width:70%;
    top:5%;
    height:95%;
    background-color: inherit;
}

#popup{
    /* general window for variable tracking, showing steps, library etc. */
    position:absolute;
    right:3%;
    top:7%;
    z-index: 2;
    background-color: white;
    border-radius: 5px;
    padding-left: 10px;
}

.popup-sel-btn{
    height: 100%;
    border:none;
}

.popup-sel-btn:hover{
    background-color: lightgray;
}

.popup-sel-btn-selected{
    background-color: lightgray;
}


/* #region sheet library */

.sheet-load-btn{
    width: fit-content; 
    padding: 2px;
    display: block;
    border: none;
}

#search-box td{
    padding-left: 10px;
}

.search-btn {
    /* for searching variables */
    border: none;
    display: block;
    background-color: white;
    text-align: center;
}

.search-sel{
    background-color: lightgray;
}

/* #endregion */

