body{
    background-color: black;
    border: 5px;
    border-color: red;
}

.block{
    background-color: white;
    margin-bottom: 25px;
    width: fit-content; 
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.remove-btn{
    font-size: inherit;
    border:none;
    background-color: white;
    color:darkgray;
    text-align: center;
}

.remove-btn:hover{
    color:black;
    cursor: pointer;
}

.block-name{
    margin-bottom: 10px;
    font-size: large;

}

.block-name-txt{
    font-size: inherit;
}


.block-remove{
    float:right;
}



.line {
    display: flex;
    align-items: center;
}

.line-output {
    padding-left: 5px;
}

.sub-table{
    border: 2px;
    border-style: solid;
    margin: 5px;
}

.sub-input{
    width: 50px;
    
}

.sheet-load-btn{
    background-color: black;
    color: white;
    width: fit-content; 
    padding: 2px;
    display: block;
    border: none;
    color: gray;
}

.sheet-load-btn:hover{
    color:white;
    cursor: pointer;
}

.center-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white
}

.info-box {
    background-color: white;
    position: absolute;
    right: -50px;
    top: 20px;
    border-radius: 5px;
    padding: 10px;
    display: none;
}

.empty-info-btn {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

.info-btn {
    height: 20px;
    line-height: 5px;
    margin-left: 10px;
    margin-right: 5px;

    -moz-border-radius: 10px;
    border-radius: 10px;

    background-color: white;
    border-color: black;
    border-style: solid;
    text-align: center;
    font-size: .75em;
}

.info-btn:hover {
  background-color: lightgrey;  
  cursor: pointer;
}


#load-btn{
    background-color: black;
    width: fit-content; 
    padding: 5px;
    display: block;
    border: none;
    color: gray;
    font-size: larger;
    margin-bottom: 10px;
}

#load-btn:hover{
    color:white;
    cursor: pointer;
}


#load{
    float: right;
}