
:root{
    --load-sym-size:10px;
}

body{
    background-color: black;
    margin:0;
}

#page-not-found {
    display: none;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}




.BOPglowscript-canvas-wrapper{
    pointer-events: none;
}

#calc{
    position: absolute;
    top:5%;
    height:95%;
    z-index: 2;
    background-color: inherit;
}

#vis{
    position:absolute;
    left:0%; /* will probably change this, vis will take over the entire area below the top bar */
    width:100%;
    top:20%;
    height:95%;
    background-color: black;
    z-index: 0;
}

#popup{
    /* general window for variable tracking, showing steps, library etc. */
    position:absolute;
    right:3%;
    top:7%;
    z-index: 2;
    background-color: white;
    border-radius: 5px;
    padding-left: 10px;
}

.popup-sel-btn{
    height: 100%;
    border:none;
}

.popup-sel-btn:hover{
    background-color: lightgray;
}

.popup-sel-btn-selected{
    background-color: lightgray;
}


/* #region sheet library */

.sheet-load-btn{
    width: fit-content; 
    padding: 2px;
    display: block;
    border: none;
}

#search-box td{
    padding-left: 10px;
}

.search-btn {
    /* for searching variables */
    border: none;
    display: block;
    background-color: white;
    text-align: center;
}

.search-sel{
    background-color: lightgray;
}

/* #endregion */

